@using SoundStore.Commons.Responses
@model ProductResponse

<div class="card shadow-sm border-0 rounded-4 text-center" style="max-width: 300px;">
    <img src="@Model.Images.FirstOrDefault()?.ImageUrl" alt="@Model.Name" class="card-img-top rounded-3">
    <div class="card-body">
        <div class="text-uppercase text-muted small fw-semibold mt-2" style="letter-spacing: 1px;">
            @Model.CategoryName
        </div>
        <h5 class="card-title my-2 text-dark">@Model.Name</h5>
        <p class="card-text fs-5 fw-bold text-black">
            @string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0}₫", Model.Price)
        </p>
    </div>
</div>
